OPENAI_API_KEY=sk-proj-Ztsmo...h5RUA
SAPLING_API_KEY=U8G...UYSKN

EVALUATION_MODEL=gpt-4o
CHAT_MODEL=gpt-4o-mini
WEB_SEARCH_MODEL=gpt-4o-mini-search-preview

ENVIRONMENT=PRODUCTION/or/DEVELOPMENT

GITHUB_REPOSITORY=https://github.com/.../open2e
LICENSE_URL=https://github.com/.../LICENSE.md
EULA_URL=https://github.com/.../EULA.txt

APP_VERSION=0.3.0
DEVELOPMENT_STAGE=Alpha
DOWNLOAD_URL=https://drive.google.com/uc?export=download&id=17ljshXNs...vvZMoVX3

USER_MANUAL_URL=https://github.com/.../README.md