@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #008C6E;
    --background: #F7F9FA;
    --secondary: #E0F2F1;
    --textHeader: #2C3E50;
    --textBody: #4F4F4F;
    --panel: #FFFFFF;
    --uBlack: #2C3E50;
    --uGray: #7F8C8D;
    --uGrayLight: #dfdfdfc9;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --primary: #f57d20;
      --background: #0E1621;
      --secondary: #1C2B36;
      --textHeader: #FFFFFF;
      --textBody: #D1D1D1;
      --panel: #112A3E;
      --uBlack: #0A0F18;
      --uGray: #B0D0D3;
      --uGrayLight: #334756;
    }
  }
}